{% extends '_base_explotacion.html' %}
{% block filtro %}
    <form>
        <h5>Cambiadores</h5><br><br>
        <h5>Filtro:</h5>
        Fabricantes: <br>
        <table>
        {% for fabricante in fabricantes %}
            <tr> 
                <td><input type = "checkbox">{{ fabricante.organizacion.codigo }}</td>
            </tr>
        {% endfor %}
        </table>
        Mantenedores:<br>
    <table>
        {% for mantenedor in mantenedores %}
            <tr> 
                <td><input type = "checkbox">{{ mantenedor.organizacion.codigo }}</a></td>
            </tr>
        {% endfor %}
    </table>
    </form>
{% endblock filtro %}
    
{% block mapa %}
    {% autoescape off %}
    {{ mapa }}
    {% endautoescape %}
{% endblock mapa %}


{% block hueco %}
    cambiadores<br>_explotacion.html
{% endblock hueco %}

{% block elementos %}
<table>
    <thead>
        <th>Código</th>
        <th>Nombre</th>
        <th>Versión</th>
        <th>Fabricante</th>
        <th>Mantenedor</th>
        <th>fecha_fab</th>
        <th>num_cambios</th>
    </thead>
    <tbody>
        {% for cambiador in cambiadores %}
        <tr> 
            <td><a href = "{{ cambiador.get_absolute_url }}"> {{ cambiador.get_absolute_url }} </a></td>
            <td>{{ cambiador.codigo }}</td>
            <td>{{ cambiador.nombre }}</td>
            <td>{{ cambiador.version }}</td>
            <td>{{ cambiador.fabricante.organizacion.codigo }}</td>
            <td>{{ cambiador.mantenedor.organizacion.codigo }}</td>
            <td>{{ cambiador.fecha_fab }}</td>
            <td>{{ cambiador.num_cambios }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock elementos %}