{% extends '_base_explotacion.html' %}
{% block filtro %}
    <h5>Ejes</h5><br><br>
    <h5>Filtro:</h5>
    Fabricantes: <br>
    <table>
        {% for fabricante in fabricantes %}
        <tr> 
            <td><input type = "checkbox">{{ fabricante.organizacion.codigo }}</td>
        </tr>
        {% endfor %}
    </table>
    Mantenedores:<br>
    <table>
        {% for mantenedor in mantenedores %}
            <tr> 
                <td><input type = "checkbox">{{ mantenedor.organizacion.codigo }}</a></td>
            </tr>
        {% endfor %}
    </table>
    Keepers:<br>
    <table>
        {% for keeper in keepers %}
            <tr> 
                <td><input type = "checkbox"">{{ keeper.organizacion.codigo }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock filtro %}
{% block mapa %}
    {% autoescape off %}
    {{ mapa }}
    {% endautoescape %}
{% endblock mapa %}

{% block hueco %}
    ejes<br>_explotacion. html
{% endblock hueco %}

{% block elementos %}
<table>
    <thead>
        <th>Código</th>
        <th>Versión</th>
        <th>Fabricante</th>
        <th>Keeper</th>
        <th>Mantenedor</th>
        <th>Cambios</th>
        <th>km</th>
        <th>Alarm 1</th>
        <th>Alarm 2</th>
    </thead>
    <tbody>
        {% for eje in ejes %}
        <tr> 
            <td><a href = "{{ eje.get_absolute_url }}"> {{ eje.get_absolute_url }} </a></td>
            <td>{{ eje.codigo }}</td></a>
            <td>{{ eje.version }}</td>
            <td>{{ eje.fabricante.organizacion.codigo }}</td>
            <td>{{ eje.keeper.organizacion.codigo }}</td>
            <td>{{ eje.mantenedor.organizacion.codigo }}</td>
            <td>{{ eje.num_cambios }}</td>
            <td>{{ eje.km }}</td>
            <td>{{ eje.alarmas_cambio }}</td>
            <td>{{ eje.alarmas_circulacion }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock elementos %}