{% extends '_base_explotacion.html' %}
{% block cuerpo %}
<div class="container-fluid d-lg-flex d-xxl-flex flex-row align-items-lg-start justify-content-xxl-start align-items-xxl-start">
    <div class="col-lg-6 offset-lg-0">
        <h6>Cambiador:</h6>
        <b>Código</b>: {{ cambiador.codigo }} , <b>Versión</b>: {{ cambiador.version }} , <b>Num Cambios</b>: {{ cambiador.num_cambios }} <br>
        <b>Fabricante</b>: {{ cambiador.fabricante.organizacion.codigo }}, <b>Fecha fabricación</b>: {{ cambiador.fecha_fab }}, <b>Mantenedor</b>: {{ cambiador.mantenedor.organizacion.codigo }} <br>&nbsp<br>
    </div>
    <div class="col-lg-2 ">
        &nbsp<br>
        <a href="#" ><button class="btn btn-danger" type="button">Gestionar Alarmas</button></a>
    </div>
</div>
    <div class="container-fluid d-lg-flex d-xxl-flex flex-row align-items-lg-start justify-content-xxl-start align-items-xxl-start">
        <div class="col-lg-6 offset-lg-0">
            <h6>Cambios:</h6>
            <table class="table">
                <thead class="table-light">
                    <th>Fecha</th><th>Sentido</th><th>Nºcambio</th><th>Vel</th><th>Peso</th><th>Alarma</th>
                </thead>
                <tbody>
                {% for cambio in cambios %}
                    <tr> 
                        <td>{{ cambio.inicio }}</td>
                        <td>{{ cambio.sentido }}</td>
                        <td>{{ cambio.num_cambio_eje }}</td>
                        <td>{{ cambio.V }}</td>
                        <td>{{ cambio.FV }}</td>
                        <td>{{ cambio.alarma }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="row"><h6>Posiciones del eje en los últimos 4 días:</h6></div>
            <div class="row">
                {% autoescape off %}
                {{ graficos_cambios }}
                {% endautoescape %}
            </div>
        </div>
    </div>
    <div class="container-fluid d-lg-flex d-xxl-flex flex-row align-items-lg-start justify-content-xxl-start align-items-xxl-start">
        <div class="col-lg-6 offset-lg-0">
        </div>
        <div class="col-lg-6">
            <div class="row"><h6>Cambios realizados por el eje {{ eje.codigo }}:</h6></div>
            <div class="row"></div>
        </div>
    </div>
    <div class="container-fluid d-lg-flex d-xxl-flex flex-row align-items-lg-start justify-content-xxl-start align-items-xxl-start">
        <div class="col-lg-6 offset-lg-0"></div>
        <div class="col-lg-6"> </div>
    </div>
{% endblock cuerpo %}