{% extends '_base_explotacion.html' %}
{% block cuerpo %}
<div class="container-fluid d-lg-flex d-xxl-flex flex-row align-items-lg-start justify-content-xxl-start align-items-xxl-start">
    <div class="col-lg-6 offset-lg-0">
        <h6>Eje:</h6>
        <b>Código</b>: {{ eje.codigo }} , <b>Versión</b>: {{ eje.version }} , <b>Num Cambios</b>: {{ eje.num_cambios }} , <b>Km rodados</b>: {{ eje.km }}<br>
        <b>Fabricante</b>: {{ eje.fabricante.organizacion.codigo }} , <b>Keeper</b>: {{ eje.keeper.organizacion.codigo }} , <b>Mantenedor</b>: {{ eje.mantenedor.organizacion.codigo }} , <b>Coeficiente de Trabajo</b>: {{ eje.coef_trabajo }}<br>&nbsp<br>
    </div>
    <div class="col-lg-2 ">
        &nbsp<br>
        <a href="#" ><button class="btn btn-danger" type="button">Ver Alarmas</button></a>
    </div>
</div>
    <div class="container-fluid d-lg-flex d-xxl-flex flex-row align-items-lg-start justify-content-xxl-start align-items-xxl-start">
        <div class="col-lg-6 offset-lg-0">
            <h6>Circulaciones:</h6>
            <table class="table">
                <thead class="table-light">
                    <th>Fecha</th><th>Inicio</th><th>Fin</th><th>(Km/h)</th><th>km</th><th>Alarma</th>
                </thead>
                {% for circulacion in circulaciones %}
                    <tr> 
                        <td>{{ circulacion.dia }}</td>
                        <td>{{ circulacion.pinicio }}</td>
                        <td>{{ circulacion.pfinal }}</td>
                        <td>{{ circulacion.vmed }}</td>
                        <td>{{ circulacion.km }}</td>
                        <td>{{ circulacion.alarmas }}</td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
        <div class="col-lg-6">
            <div class="row"><h6>Posiciones del eje en los últimos 4 días:</h6></div>
            <div class="row">
            {% autoescape off %}
                {{ mapa_eje }}
            {% endautoescape %}
            </div>
        </div>
    </div>
    <div class="container-fluid d-lg-flex d-xxl-flex flex-row align-items-lg-start justify-content-xxl-start align-items-xxl-start">
        <div class="col-lg-6 offset-lg-0">
            <br>
            <h6>Cambios:</h6>
            <table class="table">
                <thead class="table-light">
                    <th>Fecha</th><th>Cambiador</th><th>Sentido</th><th>Nºcambio</th><th>Vel</th><th>Peso</th><th>Alarma</th>
                </thead>
                <tbody>
                {% for cambio in cambios %}
                    <tr> 
                        <td>{{ cambio.inicio }}</td>
                        <td>{{ cambio.cambiador.nombre }}</td>
                        <td>{{ cambio.sentido }}</td>
                        <td>{{ cambio.num_cambio_eje }}</td>
                        <td>{{ cambio.V }}</td>
                        <td>{{ cambio.FV }}</td>
                        <td>{{ cambio.alarma }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="row"><h6>Cambios realizados por el eje:</h6></div>
            <div class="row">
            <br>
            {% autoescape off %}
                {{ mapa_cambios }}
            {% endautoescape %}
            </div>
        </div>
    </div>
    <div class="container-fluid d-lg-flex d-xxl-flex flex-row align-items-lg-start justify-content-xxl-start align-items-xxl-start">
        <div class="col-lg-6 offset-lg-0">
            <h6>Alarmas:</h6>
            <table class="table">
                <thead class="table-light">
                    <th>Fecha-hora</th><th>Mensaje</th><th>long</th><th>lat</th>
                </thead>
                <tbody>
                    <tr>
                        <td>06/05/2022 14:34:15</td><td>Aceleraciones anormales en eje Z</td><td>-1.49876</td><td>40.04213</td>
                    </tr>
                    <tr>
                        <td>06/05/2022 14:34:15</td><td>Excesiva temperatura</td><td>-1.49876</td><td>40.04213</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            {% autoescape off %}
                {{ grafico_alarma }}
            {% endautoescape %} 
        </div>
    </div>
{% endblock cuerpo %}